#!/usr/bin/env bash

# set -x

MkCd () {
  mkdir -p $1
  cd $1
}

quotes(){
  echo 'buy the rumor sell the fact'
}

testFlashGreenBackground(){
  echo -e ${PALETTE_REVERSE}${PALETTE_GREEN}${PALETTE_BOLD}${PALETTE_BLINK} $@ ${PALETTE_RESET}
}

testFlashBlueBackground(){
  echo -e ${PALETTE_REVERSE}${PALETTE_BLUE}${PALETTE_BOLD}${PALETTE_BLINK} $@ ${PALETTE_RESET}
}

testFlashRedBackground(){
  echo -e ${PALETTE_REVERSE}${PALETTE_RED}${PALETTE_BOLD}${PALETTE_BLINK} $@ ${PALETTE_RESET}
}

sendSlackMsg(){
  # usage: sendSlackMsg '#_debug' 'test username' '1233211234567 abcdefgDDD\n\n\n中文字'

  set -x

  BAR=($@)

  # curl -X POST -H 'Content-type: application/json' --data '{"text":"Allow me to reintroduce myself!"}' $SLACK_DEBUG_WEBHOOK

  curl -X POST \
    --data-urlencode " \
    payload={ \
      \"channel\": \"$@[1]\", \
      \"username\": \"$@[2]\", \
      \"text\": \"'$@[3]'\", \
      \"icon_emoji\": \":ghost:\" \
      }" \
    $SLACK_DEBUG_WEBHOOK


}

sendSlackMsgDebug(){
  # usage: sendSlackMsg '#_debug' 'test username' '1233211234567 abcdefgDDD\n\n\n中文字'

  set -x

  BAR=($@)

  # curl -X POST -H 'Content-type: application/json' --data '{"text":"Allow me to reintroduce myself!"}' $SLACK_DEBUG_WEBHOOK
  curl -X POST -H 'Content-type: application/json' --data '{"text": "'$@'" }' $SLACK_DEBUG_WEBHOOK

}

# webhook with channel #debug
testSendSlack(){
  sudo apt-get install -y curl
  sendSlackMsg '#_debug' 'test username' '1233211234567 abcdefgDDD\n\n\n中文字'
}

showDone(){
  testFlashGreenBackground "Done ... "
}

codeDotSecrets(){
  code ~/.secret.rc
}

codeDotCredentials(){
  code ~/.credentials.rc
}

codeFirefoxAlias(){
  code ~/.firefox_alias
}

codeDotFiles(){
  code /home/logic/_workspace/dotfiles/
}

codeLouisAlias(){
  code /home/logic/_workspace/dotfiles/.louis_alias
}

codeDotFirefox(){
  code /home/logic/_workspace/dotfiles/.firefox_alias
}

codeTodo(){
  cd /home/logic/_workspace/todo_list
    git pull
    code /home/logic/_workspace/todo_list/todo.md
  cd -
}

codeZshrc(){
  code ~/.zshrc
}

syncTodo(){
  cd /home/logic/_workspace/todo_list
    git fetch --all
    git pull

    git add todo.md

    git commit -m"update,"
    git push &

    PushingToGithub

  cd -
}
