#!/usr/bin/env bash

# set -x

alias pi="pnpm i"
alias ni="npm i"
alias yi="yarn i"

gitCloneDel () {
  pushd ~/_workspace/_del
  # mkdir -p $1
    # pushd $1
      git clone $@
    # popd
  popd
}


MkCd () {
  mkdir -p $1
  cd $1
}

quotes(){
  echo 'buy the rumor sell the fact'
}

testFlashGreenBackground(){
  echo -e ${PALETTE_REVERSE}${PALETTE_GREEN}${PALETTE_BOLD}${PALETTE_BLINK} $@ ${PALETTE_RESET}
}

testFlashBlueBackground(){
  echo -e ${PALETTE_REVERSE}${PALETTE_BLUE}${PALETTE_BOLD}${PALETTE_BLINK} $@ ${PALETTE_RESET}
}

testFlashRedBackground(){
  echo -e ${PALETTE_REVERSE}${PALETTE_RED}${PALETTE_BOLD}${PALETTE_BLINK} $@ ${PALETTE_RESET}
}

sendSlackMsg(){
  # usage: sendSlackMsg '#_debug' 'test username' '1233211234567 abcdefgDDD\n\n\n中文字'

  set -x

  BAR=($@)

  # curl -X POST -H 'Content-type: application/json' --data '{"text":"Allow me to reintroduce myself!"}' $SLACK_DEBUG_WEBHOOK

  curl -X POST \
    --data-urlencode " \
    payload={ \
      \"channel\": \"$@[1]\", \
      \"username\": \"$@[2]\", \
      \"text\": \"'$@[3]'\", \
      \"icon_emoji\": \":ghost:\" \
      }" \
    $SLACK_DEBUG_WEBHOOK


}

sendSlackMsgDebug(){
  # usage: sendSlackMsg '#_debug' 'test username' '1233211234567 abcdefgDDD\n\n\n中文字'

  set -x

  BAR=($@)

  # curl -X POST -H 'Content-type: application/json' --data '{"text":"Allow me to reintroduce myself!"}' $SLACK_DEBUG_WEBHOOK
  curl -X POST -H 'Content-type: application/json' --data '{"text": "'$@'" }' $SLACK_DEBUG_WEBHOOK

}

# webhook with channel #debug
testSendSlack(){
  sudo apt-get install -y curl
  sendSlackMsg '#_debug' 'test username' '1233211234567 abcdefgDDD\n\n\n中文字'
}

showDone(){
  testFlashGreenBackground "Done ... "
}

codeDotSecrets(){
  code ~/.secret.rc
}

codeDotCredentials(){
  # syncCredentialsHome
  code ~/.credentials.rc
}

codeCarousellComission(){
  startCode -n /home/logic/_workspace/carousell-comission-playlist
}

codeFirefoxAlias(){
  code ~/.firefox_alias.rc
}

alias cdf='startCode -n /home/logic/_workspace/dotfiles/'
codeDotFiles(){
  startCode -n /home/logic/_workspace/dotfiles/
}

codeLouisAlias(){
  code /home/logic/_workspace/dotfiles/.louis_alias
}


codeCarousellWorksheet(){
  firefox https://docs.google.com/spreadsheets/d/1TGaBTmKhGolKcalNePcAAhq6IHRlWGfbELQQoOMfCvU
}


codeDotFirefox(){
  code /home/logic/_workspace/dotfiles/.firefox_alias.rc
}


n(){
  cd /home/logic/_workspace/todo_list
    git pull &
    code -n /home/logic/_workspace/todo_list/todo.md
  cd -
}


codeTodo(){
  cd /home/logic/_workspace/todo_list
    git pull &
    code -n /home/logic/_workspace/todo_list/todo.md
  cd -
}

typoraTodo(){
  cd /home/logic/_workspace/todo_list
    git pull &
    typora /home/logic/_workspace/todo_list/todo.md
  cd -
}

codeZshrc(){
  code ~/.zshrc
}

pullTodo(){
  cd /home/logic/_workspace/todo_list
    git pull
  cd -
}

commitNewTodoFile(){
  cd /home/logic/_workspace/todo_list
    git add todo.md
    git commit -m"update,"
  cd -
}

pushTodo(){
  cd /home/logic/_workspace/todo_list
    nohup git push > /tmp/push_todo.out &
  cd -

  PushingToGithub
}

longSleepProcess(){
  sleep 30
}

testNoHup(){
  nohup sleep 30 &
}


syncTodo(){
  setopt NO_HUP
  backgroundSyncTodo &
  wait
  unsetopt NO_HUP
}

backgroundSyncTodo(){
  pullTodo
  commitNewTodoFile
  pushTodo
  sleep 30
}

random-string()
{
  cat /dev/urandom | tr -dc 'a-zA-Z0-9' | fold -w ${1:-32} | head -n 1
}
