#!/usr/bin/env bash

# set -x

TODAY="$(date '+%Y-%m-%d')"
YESTERDAY="$(date -d yesterday '+%Y-%m-%d')"

TODAY_UTF="$(date -u '+%Y-%m-%d')"

TODAY_10DAY_BEFORE="$(date -d '($TODAY) -10 days' '+%Y-%m-%d')"
TODAY_10DAY_AFTER="$(date -d '($TODAY) +10 days' '+%Y-%m-%d')"

TODAY_20DAY_BEFORE="$(date -d '($TODAY) -20 days' '+%Y-%m-%d')"
TODAY_20DAY_AFTER="$(date -d '($TODAY) +20 days' '+%Y-%m-%d')"

TODAY_30DAY_BEFORE="$(date -d '($TODAY) -30 days' '+%Y-%m-%d')"
TODAY_30DAY_AFTER="$(date -d '($TODAY) +30 days' '+%Y-%m-%d')"

TODAY_1WEEKS_BEFORE="$(date -d '($TODAY) -1 weeks' '+%Y-%m-%d')"
TODAY_1WEEKS_AFTER="$(date -d '($TODAY) +1 weeks' '+%Y-%m-%d')"

TODAY_2WEEKS_BEFORE="$(date -d '($TODAY) -2 weeks' '+%Y-%m-%d')"
TODAY_2WEEKS_AFTER="$(date -d '($TODAY) +2 weeks' '+%Y-%m-%d')"

TODAY_3WEEKS_BEFORE="$(date -d '($TODAY) -3 weeks' '+%Y-%m-%d')"
TODAY_3WEEKS_AFTER="$(date -d '($TODAY) +3 weeks' '+%Y-%m-%d')"

TODAY_1MONTHS_BEFORE="$(date -d '($TODAY) -1 months' '+%Y-%m-%d')"
TODAY_1MONTHS_AFTER="$(date -d '($TODAY) +1 months' '+%Y-%m-%d')"

TODAY_2MONTHS_BEFORE="$(date -d '($TODAY) -2 months' '+%Y-%m-%d')"
TODAY_2MONTHS_AFTER="$(date -d '($TODAY) +2 months' '+%Y-%m-%d')"

TODAY_3MONTHS_BEFORE="$(date -d '($TODAY) -3 months' '+%Y-%m-%d')"
TODAY_3MONTHS_AFTER="$(date -d '($TODAY) +3 months' '+%Y-%m-%d')"

TODAY_6MONTHS_BEFORE="$(date -d '($TODAY) -6 months' '+%Y-%m-%d')"
TODAY_6MONTHS_AFTER="$(date -d '($TODAY) +6 months' '+%Y-%m-%d')"

TODAY_9MONTHS_BEFORE="$(date -d '($TODAY) -9 months' '+%Y-%m-%d')"
TODAY_9MONTHS_AFTER="$(date -d '($TODAY) +9 months' '+%Y-%m-%d')"

TODAY_12MONTHS_BEFORE="$(date -d '($TODAY) -12 months' '+%Y-%m-%d')"
TODAY_12MONTHS_AFTER="$(date -d '($TODAY) +12 months' '+%Y-%m-%d')"
