#!/usr/bin/env bash



# codeDockerPlaylist() {
#   code ~/_workspace/docker-playlist "${CODE_OPTS[@]}"
# }

alias codeAiPlaylist='startCode ~/_workspace/ai-playlist'
alias codeAppiumPlaylist='startCode ~/_workspace/appium-playlist'
alias codeAR9331Playlist='startCode ~/_workspace/AR9331-playlist'
alias codeArduinoPlaylist='startCode ~/_workspace/arduino-playlist'
alias codeBotPlaylist='startCode ~/_workspace/bot-playlist'
alias codeBuildkitePlaylist='startCode ~/_workspace/buildkite-playlist'
alias codeCalibrePlaylist='startCode ~/_workspace/calibre-playlist'
alias codeCiPlaylist='startCode ~/_workspace/ci-playlist'
alias codeCNCPlaylist='startCode ~/_workspace/CNC-playlist'
alias codeCubieboard2Playlist='startCode ~/_workspace/cubieboard-playlist'
alias codeCubieboardPlaylist='startCode ~/_workspace/cubieboard2-playlist'
alias codeD3Playlist='startCode ~/_workspace/d3-playlist'
alias codeDenoPlaylist='startCode ~/_workspace/deno-playlist'
alias codeDockerPlaylist='startCode ~/_workspace/docker-playlist'
alias codeDocsifyPlaylist='startCode ~/_workspace/docsify-playlist'
alias codeDoczPlaylist='startCode ~/_workspace/docz-playlist'
alias codeDroneCiPlaylist='startCode ~/_workspace/drone-ci-playlist'
alias codeElectronPlaylist='startCode ~/_workspace/electron-playlist'
alias codeEsp32CamPlaylist='startCode ~/_workspace/esp32-cam-playlist'
alias codeEsp32Playlist='startCode ~/_workspace/esp32-playlist'
alias codeExpoPlaylist='startCode ~/_workspace/expo-playlist'
alias codeFigmaPlaylist='startCode ~/_workspace/figma-playlist'
alias codeFirebasePlaylist='startCode ~/_workspace/firebase-playlist'
alias codeFirewallConfig='startCode ~/_workspace/firewall-playlist'
alias codeFreecadPlaylist='startCode ~/_workspace/freecad-playlist'
alias codeGatsbyjsPlaylist='startCode ~/_workspace/gatsbyjs-playlist'
alias codeGithubPlaylist='startCode ~/_workspace/github-playlist'
alias codeGoPlaylist='startCode ~/_workspace/go-playlist'
alias codeHexoPlaylist='startCode ~/_workspace/hexo-playlist'
alias codeHugoPlaylist='startCode ~/_workspace/hugo-playlist'
alias codeI3megaPlaylist='startCode ~/_workspace/i3mega-playlist'
alias codeIosPlaylist='startCode ~/_workspace/ios-playlist'
alias codeJob='startCode /media/logic/B829-3585/ws.code-workspace'
alias codeJobSearchTryout='startCode ~/_workspace/jobs_search_tryout'
alias codeJsonPlaylist='startCode ~/_workspace/json-playlist'
alias codeJsPlaylist='startCode ~/_workspace/js-playlist'
alias codeKicadPlaylist='startCode ~/_workspace/kicad-playlist'
alias codeLaravelPlaylist='startCode ~/_workspace/laravel-playlist'
alias codeLynkedTicket='startCode ~/_workspace/LYNKED_QA_project/_tickets'
alias codeM5stackPlaylist='startCode ~/_workspace/m5stack-playlist'
alias codeMakefilePlaylist='startCode ~/_workspace/Makefile-playlist'
alias codeMarpPlaylist='startCode ~/_workspace/marp-playlist'
alias codeMicropythonPlaylist='startCode ~/_workspace/micropython-playlist'
alias codeNextjsPlaylist='startCode ~/_workspace/nextjs-playlist'
alias codeNmapPlaylist='startCode ~/_workspace/nmap-playlist'
alias codeOrangePiZeroPlaylist='startCode ~/_workspace/orange-pi-zero-playlist'
alias codePcbantPlaylist='startCode ~/_workspace/pcbant-playlist'
alias codePlatformioPlaylist='startCode ~/_workspace/platformio-playlist'
alias codePreactjsPlaylist='startCode ~/_workspace/preactjs-playlist'
alias codePuppeteerPlaylist='startCode ~/_workspace/puppeteer-playlist'
alias codePythonPlaylist='startCode ~/_workspace/python-playlist'
alias codeRaspberryPiPlaylist='startCode ~/_workspace/raspberry-pi-playlist'
alias codeReactNativePlaylist='startCode ~/_workspace/react-native-playlist'

alias codeReactPlaylist='startCode ~/_workspace/react-playlist'
alias cloneReactPlaylist='git clone --depth=10 git@github.com:louiscklaw/react-playlist.git'

alias codeRustPlaylist='startCode ~/_workspace/rust-playlist'
alias codeSeleniumPlaylist='startCode ~/_workspace/selenium-playlist'
alias codeSfxPowerSupplyPlaylist='startCode ~/_workspace/sfx-power-supply-playlist'
alias codeTaobaoPlaylist='startCode ~/_workspace/taobao-playlist'
alias codeTraefikPlaylist='startCode ~/_workspace/traefik-playlist'
alias codeTravisPlaylist='startCode ~/_workspace/travis-playlist'
alias codeVuePlaylist='startCode ~/_workspace/vue-playlist'
alias codeWatchTowerPlaylist='startCode ~/_workspace/watch-tower-tryout'
alias codeWebpackPlaylist='startCode ~/_workspace/webpack-playlist'
alias codeWebPlaylist='startCode ~/_workspace/web-playlist'
alias codeWorkspace='startCode ~/_workspace'
alias codeYahooFinancePlaylist='startCode ~/_workspace/yahoo-finance-playlist'
alias codeYoutubePlaylist='startCode ~/_workspace/youtube-playlist'
alias codeProposalsTryout='startCode ~/_workspace/proposals-tryout'

alias codeWeeklyReport='startCode ~/_workspace/louislabs_weekly_report'
alias cloneWeeklyReport='git clone --depth=1 git@github.com:louiscklaw/louislabs_weekly_report.git'

alias code2ChPowerSupply='open ~/_workspace/2-ch-power-supply'

alias codePoc='startCode ~/_poc'

alias codePortfolioNotes='startCode ~/_workspace/portfolio-gatsby/documentations/NOTES.md'
# alias codePortfolio='startCode /media/logic/SD_CARD/louiscklaw.github.io-src'
alias codePortfolio='startCode /home/logic/_workspace/louiscklaw.github.io-src'

CODE_OPTS=('--disable-web-security' '--use-gl=desktop' '--enable-features=VaapiVideoDecoder' '--ignore-gpu-blacklist' '--enable-gpu-rasterization' '--enable-parallel-downloading' '--smooth-scrolling' '--enable-zero-copy')

goFastMac(){
  $DEFAULT_BROWSER https://github.com/louiscklaw/fastmac
}

createReactNativeApp(){
  npx create-react-native-app $@
}

gitCloneAllPlaylist(){

  git clone --depth=3 git@github.com:louiscklaw/react-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/python-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/preactjs-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/nextjs-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/gatsbyjs-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/selenium-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/marp-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/docker-playlist.git  &

  wait
}

meldToLynkedQaProject(){
  meld $PWD /home/logic/_workspace/LYNKED_QA_project
}

codeLynkedQaProject(){
  code ~/_workspace/LYNKED_QA.code-workspace "${CODE_OPTS[@]}"
  code /home/logic/_workspace/LYNKED_QA_project/LYNKED_QA.code-workspace "${CODE_OPTS[@]}"
}


initCodeWorkspace(){
  touch ./ws.code-workspace
}


goGist(){
  $DEFAULT_BROWSER https://gist.github.com/louiscklaw &
}

goGithubNewRepo(){
  $DEFAULT_BROWSER https://github.com/new &
}

goGithubPage(){
  REMOTE_GET_URL=$(git remote get-url origin 2>&1)
  if [[ $REMOTE_GET_URL =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $REMOTE_GET_URL

REMOTE_GET_URL=$REMOTE_GET_URL python3 << END
import os,sys
import subprocess

REMOTE_GET_URL=os.environ['REMOTE_GET_URL']
repo = REMOTE_GET_URL.split('/')[-1].replace('.git','')
github_page_address = 'https://louiscklaw.github.io/{}/'.format(repo)
firefox_command = '$DEFAULT_BROWSER  {}'.format(github_page_address)
subprocess.Popen(firefox_command.split(' '))
END
  fi
}

goGithubSettings(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git/\/settings/}
    $DEFAULT_BROWSER  $http_link &
  fi
}

goGithubSettingsSecrets(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git/\/settings/}
    $DEFAULT_BROWSER  $http_link/secrets &
  fi
}

goGithubRepo(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git^//}
    googleChrome  $http_link &
  fi
}

goGithubActions(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git//}
    http_link=("${http_link}actions")
    $DEFAULT_BROWSER  $http_link
  fi
}

goCoverallReport(){
  REPO_NAME=$(basename $PWD)
  $DEFAULT_BROWSER https://coveralls.io/github/louiscklaw/$REPO_NAME
}


installDroneCli(){
  aria2c -x 16 -s 99999 https://github.com/drone/drone-cli/releases/latest/download/drone_linux_amd64.tar.gz
  tar -xf drone_linux_amd64.tar.gz
  sudo install -t /usr/local/bin drone
}

buildDockerUbuntuLouis(){
  cd /home/logic/_workspace/drone-ci-playlist/hello-ubuntu
    docker build -t logickee/ubuntu-basic .
  cd -
}

dockerNodeLts(){
  # node:lts
  touch .env.docker
  docker run -it --env-file .env.docker -v $PWD:/root --rm node:lts bash
  sudo rm -rf .bash_history
  sudo rm -rf .ssh
  sudo rm -rf .local
  sudo rm -rf .python_history
}

dockerUbuntuLouis(){
  # dockerRun logickee/ubuntu-basic bash
  dockerRun logickee/ubuntu-with-systemd bash
}

initGhPages(){
  git checkout --orphan gh-pages
  rm .git/index
  git clean -fdx
  echo "My GitHub Page" > index.html
  git add .
  git commit -a -m "First pages commit"
  git push origin gh-pages
}

dockerClear(){
  docker container prune -f
  docker system prune -a -f
}

goJSONToJs(){
  $DEFAULT_BROWSER  https://json-to-js.com/ &
}

reYarn(){
  rm -rf package-lock.json | true
  rm -rf yarn.lock | true
  rm -rf node_modules | true
  yarn
}

goGithubIssueTemplate(){
  $DEFAULT_BROWSER  https://github.com/stevemao/github-issue-templates &
}


travisRoutine() {
  $DEFAULT_BROWSER  https://travis-ci.com/github/louiscklaw/github-playlist/branches &
  $DEFAULT_BROWSER  https://travis-ci.com/github/louiscklaw/travis-playlist/branches &
  wait
}

initWorkspace(){
  touch ws.code-workspace
}

getDefaultCommitLintConfig(){
  cp /home/logic/_workspace/travis-playlist/commitlint.config.js .
}

cloneToWorkspace(){
  cd /home/logic/_workspace
    git clone $@

  cd -
}


checkoutOrphanBranch(){

  git checkout --orphan $1
  git rm -rf .
  rm '.gitignore' | true
  echo "# this is orphan branch" > README.md
  git add README.md
  git commit -a -m "init commit,"
  git push origin $1
  # echo 'not implemented'
}

initPipenv(){
  touch Pipfile
  pipenv lock
  pipenv shell --three

}

initXXXSh(){
  touch ./$@
  chmod +x ./$@
  code ./$@
}

initRunSh(){
  initXXXSh run.sh
}

initBuildSh(){
  initXXXSh build.sh
}

initNpm(){
  npm init -y
  yarn
}

gitCloneWork(){
  cd /home/logic/_workspace
    git clone --depth=10 $@ &
  cd -
}

initPyProj(){

  mkdir -p src
  mkdir -p src/lib
  mkdir -p test

  touch src/main.py
  touch src/lib/common.py

  touch test/main.py
  touch test/common.py

  touch run.sh
  touch test.sh

  chmod +x run.sh
  chmod +x test.sh

}



mergeToMaster(){
  set -ex
  git fetch --all

  CURRENT_BRANCH_RAW=`git branch |grep -i \* -`
  CURRENT_BRANCH=`echo $CURRENT_BRANCH_RAW | sed 's/* //' - `

  git merge --ff-only master
  git merge --ff-only develop

  git merge --ff-only origin/master
  git merge --ff-only origin/develop

  git checkout develop
  git pull

  git merge --ff-only  $CURRENT_BRANCH

  git push &

  git checkout master
  git pull
  git merge --ff-only develop

  git push &

  git checkout $CURRENT_BRANCH
  wait
  set +ex
}
