#!/usr/bin/env bash


CODE_OPTS=('--disable-web-security' '--use-gl=desktop' '--enable-features=VaapiVideoDecoder' '--ignore-gpu-blacklist' '--enable-gpu-rasterization' '--enable-parallel-downloading' '--smooth-scrolling' '--enable-zero-copy')

goFastMac(){
  $DEFAULT_BROWSER https://github.com/louiscklaw/fastmac
}

createReactNativeApp(){
  npx create-react-native-app $@
}

gitCloneAllPlaylist(){

  git clone --depth=3 git@github.com:louiscklaw/react-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/python-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/preactjs-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/nextjs-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/gatsbyjs-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/selenium-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/marp-playlist.git  &
  git clone --depth=3 git@github.com:louiscklaw/docker-playlist.git  &

  wait
}

meldToLynkedQaProject(){
  meld $PWD /home/logic/_workspace/LYNKED_QA_project
}

codeGoPlaylist(){
  code ~/_workspace/go-playlist "${CODE_OPTS[@]}"
}

codeLynkedQaProject(){
  code ~/_workspace/LYNKED_QA.code-workspace "${CODE_OPTS[@]}"
  code /home/logic/_workspace/LYNKED_QA_project/LYNKED_QA.code-workspace "${CODE_OPTS[@]}"
}

codeLynkedTicket(){
  code /home/logic/_workspace/LYNKED_QA_project/_tickets "${CODE_OPTS[@]}"
}

codeTaobaoPlaylist(){
  code ~/_workspace/taobao-playlist "${CODE_OPTS[@]}"
}

codeYoutubePlaylist(){
  code ~/_workspace/youtube-playlist "${CODE_OPTS[@]}"
}

codePortfolio(){
  code /home/logic/_workspace/portfolio-gatsby "${CODE_OPTS[@]}"
}

codeJob(){
  code /media/logic/B829-3585/ws.code-workspace "${CODE_OPTS[@]}"
}

initCodeWorkspace(){
  touch ./ws.code-workspace
}

codePoc() {
  code ~/_poc "${CODE_OPTS[@]}"
}

codeJobSearchTryout(){
  code /home/logic/_workspace/jobs_search_tryout "${CODE_OPTS[@]}"
}

codeAiPlaylist() {
  code ~/_workspace/ai-playlist "${CODE_OPTS[@]}"
}

codeAppiumPlaylist() {
  code ~/_workspace/appium-playlist "${CODE_OPTS[@]}"
}

codeAR9331Playlist() {
  code ~/_workspace/AR9331-playlist "${CODE_OPTS[@]}"
}

codeArduinoPlaylist() {
  code ~/_workspace/arduino-playlist "${CODE_OPTS[@]}"
}

codeBotPlaylist() {
  code ~/_workspace/bot-playlist "${CODE_OPTS[@]}"
}

codeBuildkitePlaylist() {
  code ~/_workspace/buildkite-playlist "${CODE_OPTS[@]}"
}

codeCalibrePlaylist() {
  code ~/_workspace/calibre-playlist "${CODE_OPTS[@]}"
}

codeIosPlaylist() {
  code ~/_workspace/ios-playlist "${CODE_OPTS[@]}"
}

codeCNCPlaylist() {
  code ~/_workspace/CNC-playlist "${CODE_OPTS[@]}"
}

codeCubieboardPlaylist() {
  code ~/_workspace/cubieboard2-playlist "${CODE_OPTS[@]}"
}

codeCubieboard2Playlist() {
  code ~/_workspace/cubieboard-playlist "${CODE_OPTS[@]}"
}

codeD3Playlist() {
  code ~/_workspace/d3-playlist "${CODE_OPTS[@]}"
}

codeDenoPlaylist() {
  code ~/_workspace/deno-playlist "${CODE_OPTS[@]}"
}

codeDockerPlaylist() {
  code ~/_workspace/docker-playlist "${CODE_OPTS[@]}"
}

codeDocsifyPlaylist() {
  code ~/_workspace/docsify-playlist "${CODE_OPTS[@]}"
}

codeDoczPlaylist() {
  code ~/_workspace/docz-playlist "${CODE_OPTS[@]}"
}

codeEsp32Playlist(){
  code ~/_workspace/esp32-playlist "${CODE_OPTS[@]}"
}

codeEsp32CamPlaylist() {
  code ~/_workspace/esp32-cam-playlist "${CODE_OPTS[@]}"
}

codeExpoPlaylist() {
  code ~/_workspace/expo-playlist "${CODE_OPTS[@]}"
}

codeFirebasePlaylist() {
  code ~/_workspace/firebase-playlist "${CODE_OPTS[@]}"
}

codeFreecadPlaylist() {
  code ~/_workspace/freecad-playlist "${CODE_OPTS[@]}"
}

codeGatsbyjsPlaylist() {
  code ~/_workspace/gatsbyjs-playlist "${CODE_OPTS[@]}"
}

codeGithubPlaylist() {
  code ~/_workspace/github-playlist "${CODE_OPTS[@]}"
}

codeHugoPlaylist() {
  code ~/_workspace/hugo-playlist "${CODE_OPTS[@]}"
}

codeI3megaPlaylist() {
  code ~/_workspace/i3mega-playlist "${CODE_OPTS[@]}"
}

codeJsPlaylist() {
  code ~/_workspace/js-playlist "${CODE_OPTS[@]}"
}

codeJsonPlaylist() {
  code ~/_workspace/json-playlist "${CODE_OPTS[@]}"
}

codeKicadPlaylist() {
  code ~/_workspace/kicad-playlist "${CODE_OPTS[@]}"
}

codeMakefilePlaylist() {
  code ~/_workspace/Makefile-playlist "${CODE_OPTS[@]}"
}

codeMicropythonPlaylist() {
  code ~/_workspace/micropython-playlist "${CODE_OPTS[@]}"
}

codeM5stackPlaylist(){
  code ~/_workspace/m5stack-playlist "${CODE_OPTS[@]}"
}

codeNextjsPlaylist() {
  code ~/_workspace/nextjs-playlist "${CODE_OPTS[@]}"
}

codeNmapPlaylist() {
  code ~/_workspace/nmap-playlist "${CODE_OPTS[@]}"
}

codeOrangePiZeroPlaylist() {
  code ~/_workspace/orange-pi-zero-playlist "${CODE_OPTS[@]}"
}

codePcbantPlaylist() {
  code ~/_workspace/pcbant-playlist "${CODE_OPTS[@]}"
}

codePlatformioPlaylist() {
  code ~/_workspace/platformio-playlist "${CODE_OPTS[@]}"
}

codePreactjsPlaylist() {
  code ~/_workspace/preactjs-playlist "${CODE_OPTS[@]}"
}

codePuppeteerPlaylist() {
  code ~/_workspace/puppeteer-playlist "${CODE_OPTS[@]}"
}

codePythonPlaylist() {
  code ~/_workspace/python-playlist "${CODE_OPTS[@]}"
}

codeRaspberryPiPlaylist() {
  code ~/_workspace/raspberry-pi-playlist "${CODE_OPTS[@]}"
}

codeReactNativePlaylist() {
  code ~/_workspace/react-native-playlist "${CODE_OPTS[@]}"
}

codeFigmaPlaylist() {
  code ~/_workspace/figma-playlist "${CODE_OPTS[@]}"
}

codeReactPlaylist() {
  code ~/_workspace/react-playlist "${CODE_OPTS[@]}"
}

codeRustPlaylist() {
  code ~/_workspace/rust-playlist "${CODE_OPTS[@]}"
}

codeSeleniumPlaylist() {
  code ~/_workspace/selenium-playlist "${CODE_OPTS[@]}"
}

codeSfxPowerSupplyPlaylist() {
  code ~/_workspace/sfx-power-supply-playlist "${CODE_OPTS[@]}"
}

codeTraefikPlaylist() {
  code ~/_workspace/traefik-playlist "${CODE_OPTS[@]}"
}

codeTravisPlaylist() {
  code ~/_workspace/travis-playlist "${CODE_OPTS[@]}"
}

codeVuePlaylist() {
  code ~/_workspace/vue-playlist "${CODE_OPTS[@]}"
}

codeWebPlaylist() {
  code ~/_workspace/web-playlist "${CODE_OPTS[@]}"
}

codeWebpackPlaylist() {
  code ~/_workspace/webpack-playlist "${CODE_OPTS[@]}"
}

codeCiPlaylist() {
  code ~/_workspace/ci-playlist "${CODE_OPTS[@]}"
}

codeDroneCiPlaylist() {
  code ~/_workspace/drone-ci-playlist "${CODE_OPTS[@]}"
}

codeFirewallConfig(){
  code ~/_workspace/firewall-config "${CODE_OPTS[@]}"
}

codeWorkspace(){
  code /home/logic/_workspace "${CODE_OPTS[@]}"
}

codeYahooFinancePlaylist(){
  code ~/_workspace/yahoo-finance-playlist "${CODE_OPTS[@]}"
}

codeWatchTowerPlaylist(){
  code ~/_workspace/watch-tower-tryout "${CODE_OPTS[@]}"
}

goGist(){
  $DEFAULT_BROWSER https://gist.github.com/louiscklaw &
}

goGithubNewRepo(){
  $DEFAULT_BROWSER https://github.com/new &
}

goGithubPage(){
  REMOTE_GET_URL=$(git remote get-url origin 2>&1)
  if [[ $REMOTE_GET_URL =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $REMOTE_GET_URL

REMOTE_GET_URL=$REMOTE_GET_URL python3 << END
import os,sys
import subprocess

REMOTE_GET_URL=os.environ['REMOTE_GET_URL']
repo = REMOTE_GET_URL.split('/')[-1].replace('.git','')
github_page_address = 'https://louiscklaw.github.io/{}/'.format(repo)
firefox_command = '$DEFAULT_BROWSER  {}'.format(github_page_address)
subprocess.Popen(firefox_command.split(' '))
END
  fi
}

goGithubSettings(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git/\/settings/}
    $DEFAULT_BROWSER  $http_link &
  fi
}

goGithubSettingsSecrets(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git/\/settings/}
    $DEFAULT_BROWSER  $http_link/secrets &
  fi
}

goGithubRepo(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git//}
    $DEFAULT_BROWSER  $http_link &
  fi
}

goGithubActions(){
  remote_get_url=$(git remote get-url origin 2>&1)
  if [[ $remote_get_url =~ .*fatal.* ]]; then
    echo "cannot find remote origin"
  else
    echo "remote origin " $remote_get_url
    http_link=${remote_get_url/git@/https://}
    http_link=${http_link/.com:/.com/}
    http_link=${http_link/.git//}
    http_link=("${http_link}actions")
    $DEFAULT_BROWSER  $http_link
  fi
}

goCoverallReport(){
  REPO_NAME=$(basename $PWD)
  $DEFAULT_BROWSER https://coveralls.io/github/louiscklaw/$REPO_NAME
}


installDroneCli(){
  aria2c -x 16 -s 99999 https://github.com/drone/drone-cli/releases/latest/download/drone_linux_amd64.tar.gz
  tar -xf drone_linux_amd64.tar.gz
  sudo install -t /usr/local/bin drone
}

buildDockerUbuntuLouis(){
  cd /home/logic/_workspace/drone-ci-playlist/hello-ubuntu
    docker build -t logickee/ubuntu-basic .
  cd -
}

dockerNodeLts(){
  # node:lts
  touch .env.docker
  docker run -it --env-file .env.docker -v $PWD:/root --rm node:lts bash
  sudo rm -rf .bash_history
  sudo rm -rf .ssh
  sudo rm -rf .local
  sudo rm -rf .python_history
}

dockerUbuntuLouis(){
  # dockerRun logickee/ubuntu-basic bash
  dockerRun logickee/ubuntu-with-systemd bash
}

initGhPages(){
  git checkout --orphan gh-pages
  rm .git/index
  git clean -fdx
  echo "My GitHub Page" > index.html
  git add .
  git commit -a -m "First pages commit"
  git push origin gh-pages
}

dockerClear(){
  docker container prune -f

  docker system prune -a -f

}

goJSONToJs(){
  $DEFAULT_BROWSER  https://json-to-js.com/ &
}

reYarn(){
  rm -rf package-lock.json | true
  rm -rf yarn.lock | true
  rm -rf node_modules | true
  yarn
}

goGithubIssueTemplate(){
  $DEFAULT_BROWSER  https://github.com/stevemao/github-issue-templates &
}


travisRoutine() {
  $DEFAULT_BROWSER  https://travis-ci.com/github/louiscklaw/github-playlist/branches &
  $DEFAULT_BROWSER  https://travis-ci.com/github/louiscklaw/travis-playlist/branches &
  wait
}

initWorkspace(){
  touch ws.code-workspace
}

getDefaultCommitLintConfig(){
  cp /home/logic/_workspace/travis-playlist/commitlint.config.js .
}

cloneToWorkspace(){
  cd /home/logic/_workspace
    git clone $@

  cd -
}


checkoutOrphanBranch(){

  git checkout --orphan $1
  git rm -rf .
  rm '.gitignore' | true
  echo "# this is orphan branch" > README.md
  git add README.md
  git commit -a -m "init commit,"
  git push origin $1
  # echo 'not implemented'
}

initPipenv(){
  touch Pipfile
  pipenv lock
  pipenv shell --three

}

initXXXSh(){
  touch ./$@
  chmod +x ./$@
  code ./$@
}

initRunSh(){
  initXXXSh run.sh
}

initBuildSh(){
  initXXXSh build.sh
}

initNpm(){
  npm init -y
  yarn
}

gitCloneWork(){
  cd /home/logic/_workspace
    git clone --depth=10 $@ &
  cd -
}

initPyProj(){

  mkdir -p src
  mkdir -p src/lib
  mkdir -p test

  touch src/main.py
  touch src/lib/common.py

  touch test/main.py
  touch test/common.py

  touch run.sh
  touch test.sh

  chmod +x run.sh
  chmod +x test.sh

}



mergeToMaster(){
  set -ex
  git fetch --all

  CURRENT_BRANCH_RAW=`git branch |grep -i \* -`
  CURRENT_BRANCH=`echo $CURRENT_BRANCH_RAW | sed 's/* //' - `

  git merge --ff-only master
  git merge --ff-only develop

  git merge --ff-only origin/master
  git merge --ff-only origin/develop

  git checkout develop
  git pull

  git merge --ff-only  $CURRENT_BRANCH

  git push &

  git checkout master
  git pull
  git merge --ff-only develop

  git push &

  git checkout $CURRENT_BRANCH
  wait
  set +ex
}
