#!/usr/bin/env bash

# set -x

DEFAULT_BROWSER=google-chrome

goTrello(){
  $DEFAULT_BROWSER https://trello.com/b/JNF4AVto/lynked-insight
}

goQATrello(){
  $DEFAULT_BROWSER https://trello.com/b/jPzTVREG/qahelloworld
}

go881(){
  $DEFAULT_BROWSER https://www.881903.com/live/881
}

go903(){
  $DEFAULT_BROWSER https://www.881903.com/live/903
}

goszjy(){
  $DEFAULT_BROWSER  https://www.szjy188.com/order-without-comment &
}

goSlackLouisLabs(){
  $DEFAULT_BROWSER  https://app.slack.com/client/T3NSVC55K/C3N4B63MX &
}

goRpi1Cron(){
  $DEFAULT_BROWSER  http://$RPI1_HOST:8000 &
}

goGoogleCalendar(){
  $DEFAULT_BROWSER  https://calendar.google.com/calendar &
}

firefoxYoutube(){
  $DEFAULT_BROWSER  https://www.youtube.com
}

goFontAwesome(){
  $DEFAULT_BROWSER  https://fontawesome.com/icons/github-square &
}

hkexStat(){
  $DEFAULT_BROWSER  https://www.hkex.com.hk/Market-Data/Statistics/Consolidated-Reports/Securities-Statistics-Archive/Trading_Value_Volume_And_Number_Of_Deals\?sc_lang=zh-HK#select1=0
}

goBashCheat(){
  $DEFAULT_BROWSER  https://devhints.io/bash &
}

goSedCheat(){
  $DEFAULT_BROWSER  https://devhints.io/sed &
}

goMarkdownCheatSheet(){
  $DEFAULT_BROWSER  https://guides.github.com/features/mastering-markdown/ &
}

goRouterSetup(){
  $DEFAULT_BROWSER  https://192.168.99.1 &
}

showDocTravisEnv(){
  $DEFAULT_BROWSER  https://docs.travis-ci.com/user/environment-variables/ &
}

goFirebaseConsole(){
  $DEFAULT_BROWSER  https://console.firebase.google.com/u/1/project/fir-tryout-f4e7a/overview &
}

goTradingViewHK(){
  $DEFAULT_BROWSER https://www.tradingview.com/chart\?symbol\=HKEX%3A$@ &
}

goTradingViewUS(){
  $DEFAULT_BROWSER https://www.tradingview.com/chart\?symbol\=NYSE%3A$@ &
}

goTradingViewBABA(){
  goTradingViewHK 9988 &
  goTradingViewUS BABA &

  wait
}

goAastock(){
  $DEFAULT_BROWSER http://www.aastocks.com/tc/stocks/quote/detailchart.aspx\?symbol\=$@ &
}

yahooHKDJPY(){
  $DEFAULT_BROWSER https://hk.finance.yahoo.com/quote/HKDJPY\=X/ &
}

yahooHKDEUR(){
  $DEFAULT_BROWSER https://hk.finance.yahoo.com/quote/HKDEUR\=X/ &
}

findDocs(){

SEARCH_TERMS=$@ python3 << END
import os,sys
import subprocess

SEARCH_TERMS=os.environ['SEARCH_TERMS']

def openFirefox(url):
  firefox_command = '$DEFAULT_BROWSER  {}'.format(url)
  subprocess.Popen(firefox_command.split(' '))

openFirefox('https://www.google.com/search?q={}+quickstart'.format(SEARCH_TERMS))
openFirefox('https://www.google.com/search?q={}+tutorial'.format(SEARCH_TERMS))
openFirefox('https://www.google.com/search?q={}+documentation'.format(SEARCH_TERMS))
openFirefox('https://www.google.com/search?q={}+github'.format(SEARCH_TERMS))
END

}

goi3Mega(){
  $DEFAULT_BROWSER  http://i3mega.local &
}

goVoron(){
  $DEFAULT_BROWSER  http://voronoctopi.local &
}

goRouterSetupHome(){
  $DEFAULT_BROWSER  http://192.168.88.1:50080 &
}

cloneDotFiles(){
  echo 'git clone git@github.com:louiscklaw/dotfiles.git'
}

goJSONExample(){
  $DEFAULT_BROWSER  https://json.org/example.html &
}

goTravisDashboard(){
  $DEFAULT_BROWSER  https://travis-ci.com/github/louiscklaw &
  $DEFAULT_BROWSER  https://travis-ci.com/github/louiscklaw?tab=insights &
  $DEFAULT_BROWSER  https://louiscklaw.github.io/travis-playlist/ &

  echo "done"
}

goSlackLouisLabsAppsManager(){
  $DEFAULT_BROWSER  https://app.slack.com/apps-manage/T3NSVC55K &
}