
initGithubActionMerger(){
  mkdir -p .github/workflows
  touch .github/workflows/master_build.yml

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/github-build-merger-tryout/pull_request.yml \
    ./.github/workflows/pull_request.yml

  mkdir -p scripts

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/github-build-merger-tryout/ \
    ./github-build-merger

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/scripts/update_main_build_chain.sh \
    ./scripts/update_main_build_chain.sh

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/scripts/update_main_build_chain.py \
    ./scripts/update_main_build_chain.py

  sed -i -e 's/github-build-merger-tryout/github-build-merger/' .github/workflows/master_build.yml

  sed -i -e 's/github-build-merger-tryout/github-build-merger/' github-build-merger/subjob.yml
  sed -i -e 's/github-build-merger-tryout/github-build-merger/' github-build-merger/test.sh

}

gitFetchAllBranches() {
  git config remote.origin.fetch "+refs/heads/*:refs/remotes/origin/*"
  git fetch origin
}
