
initGithubActionMerger(){
  mkdir -p .github/workflows
  touch .github/workflows/master_build.yml

  mkdir -p scripts

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/github-build-merger-tryout/ \
    ./github-build-merger

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/scripts/update_main_build_chain.sh \
    ./scripts/update_main_build_chain.sh

  rsync -avzh --progress \
    /home/logic/_workspace/github-playlist/scripts/update_main_build_chain.py \
    ./scripts/update_main_build_chain.py

}
