**/*.del
node_modules

*
tmp
.credentials.rc
_workspace
**/node_modules
**/.env
**/*.log
**/*.lock
**/*lock

Downloads
Music
node_modules
Android
Desktop
Documents
Pictures
Public
.cache
_del
.android