#!/usr/bin/env bash


alias nodemonAllBuild="nodemon --delay 0.5s -w . -e 'mmd,sh,jsx,js,ts,html,css,scss,sass,yml,py' --ignore './node_modules' --ignore './public' --ignore './reports' --exec "

cleanCache(){
  find . -name ".cache" -type d -prune -exec rm -rf '{}' +
}

initHusky(){
  yarn add -D husky @commitlint/{config-conventional,cli}
  MkCd scripts
  touch pre-commit.sh pre-push.sh
  chmod +x pre-commit.sh pre-push.sh
  cd ..

  sudo bash -c "cat > package.json.husky" <<EOF
"husky": {
  "hooks": {
    "pre-commit": "npm test",
    "pre-push": "npm test",
    "...": "..."
  }
}
EOF

}

initGatsbyHelloworld(){
  set -x

  gatsby new . https://github.com/gatsbyjs/gatsby-starter-hello-world

  git init

  yarn
  yarn add prettier --dev --exact
  yarn add gatsby-plugin-offline

  git add .
  git commit -m"init gatsby helloworld,"

  yarn build

  testFlashGreenBackground "Done !"

  set +x
}

nodemonMmdBuild(){
  # html for pyunittest template
  nodemon --delay 2 -w . -e "mmd" --ignore './node_modules' --ignore './public' --ignore './reports'  --delay 500ms --exec "$@"
}

nodemonMdBuild(){
  # html for pyunittest template
  nodemon --delay 2 -w . -e "md" --ignore './node_modules' --ignore './public' --ignore './reports'  --delay 500ms --exec "$@"
}

nodemonWebpackBuild(){
  # html for pyunittest template
  nodemon --delay 5 -w . -e "mmd,sh,js,ts,html,css,scss,sass,yml,py" --ignore './dist' --ignore './node_modules' --ignore './public' --ignore './reports'  --delay 250ms --exec "$@"
}

nodemonPugBuild(){
  # html for pyunittest template
  nodemon -w . -e "pug,js" --ignore './node_modules' --ignore './public' --ignore './reports'  --delay 500ms --exec "$@"
}

nodemonPyBuild(){
  # html for pyunittest template
  nodemon -w . -e "py,sh" --ignore './node_modules' --ignore './public' --ignore './reports'  --delay 500ms --exec "$@"
}

nodemonJsBuild(){
  nodemon -w . -e 'js' --ignore './node_modules' --ignore './public' --exec "$@"
}

testReactBuild(){

  rm -rf /tmp/react_build

  rsync -avzh --exclude "node_modules" --exclude "build"  --exclude ".cache" --progress ./ /tmp/react_build

  cd /tmp/react_build
    yarn
    yarn build

  cd build
    live-server --port=8001 .

}

nodemonReactBuild(){
  # nodemon -w . --ext "mdx,scss,css,js,html" --ignore './node_modules' --ignore './build'  --ignore './.cache' --exec "$1"

# USAGE=$(cat <<-END
#   hostname && \
#   hostname
# END
# )

testReactBuild

}

nodemonGatsbyBuild(){

  YARN_BUILD='rm -rf /tmp/gatsby_build && rsync -avzh --exclude "node_modules" --exclude "build"  --exclude ".cache" --exclude "public" --progress ./ /tmp/gatsby_build && cd /tmp/gatsby_build && yarn && yarn clean && yarn build && cd public && live-server --port=8001 .'

  YARN_START='yarn start'

  nodemon -w .  \
    --ext "mdx,scss,sass,css,js,html" \
    --ignore './node_modules' --ignore './public'  --ignore './.cache' \
    --exec $YARN_BUILD
}

nodemonGatsbyBuild1(){
  YARN_BUILD='rm -rf /tmp/gatsby_build && rsync -avzh --exclude "**/node_modules" --exclude "*/build"  --exclude ".cache" --exclude "public" --progress ./ /tmp/gatsby_build && cd /tmp/gatsby_build && yarn && yarn build '

  YARN_START='yarn start'

  nodemon -w .  \
    --ext "mdx,scss,css,js,html" \
    --ignore './node_modules' --ignore './public'  --ignore './.cache' \
    --exec 'concurrently --kill-others-on-fail -s first ' $YARN_BUILD  $YARN_START
}

# ga . && git commit -m "troubleshoot build: can build"
nodemonGatsbyBuildO(){
  git init
  yarn
  nodemon -w . --ext "scss,css,js,html" --ignore './node_modules' --ignore './public' --exec "\
  git add . && \
  yarn build && \
  git commit -m \"$1\" && \
  live-server --https=/usr/lib/node_modules/live-server-https public --browser=/usr/bin/chromium-browser
  "
}

yarnCleanAndBuild(){
  rm -rf public
  rm -rf .cache
  yarn && yarn clean && yarn build
}

initReactHelloworld(){
  npx create-react-app helloworld
  cd helloworld
  npm start
}

gatsbyCleanAndDeployGhPage(){
  set -x

  yarn clean
  yarn deploy

  set +x
}

gatsbyLocalProduction(){
  set -x

  yarn build

  liveServerHttps ./public

  set +x

}
