#!/usr/bin/env bash

# set -x

START_CHROME='/usr/bin/google-chrome-stable'
CODE_OPTS=('--disable-web-security' '--use-gl=desktop' '--enable-features=VaapiVideoDecoder' '--ignore-gpu-blacklist' '--enable-gpu-rasterization' '--enable-parallel-downloading' '--smooth-scrolling' '--enable-zero-copy')

BROWSER_OPTS=('--disable-web-security' '--use-gl=desktop' '--enable-features=VaapiVideoDecoder' '--ignore-gpu-blacklist' '--enable-gpu-rasterization' '--enable-parallel-downloading' '--smooth-scrolling' '--enable-zero-copy')

DEFAULT_BROWSER=$START_CHROME


codeMenyDbFiles(){
  code /home/logic/_workspace/LynkedKK/db_backup "${CODE_OPTS[@]}"

}

codeMenyTest(){
  code /home/logic/_workspace/LynkedKK/lynked-demo-test-script-tryout "${CODE_OPTS[@]}"
}

codeMenyDbBackup(){
  code /home/logic/_workspace/LynkedKK/db_backup "${CODE_OPTS[@]}"
}


export MENY_WK_DIR='/home/logic/_workspace/LynkedKK/lynked-demo-tryout/meny-light-demo'
codeMenySrc(){
  code $MENY_WK_DIR/meny-admin "${CODE_OPTS[@]}"  &
  code $MENY_WK_DIR/meny-client "${CODE_OPTS[@]}"  &
  code $MENY_WK_DIR/meny-manage "${CODE_OPTS[@]}"  &
  code $MENY_WK_DIR/firebase "${CODE_OPTS[@]}"  &
}


codeMenyFirebase(){
  code /home/logic/_workspace/LynkedKK/lynked-demo-tryout/meny-light-demo/firebase "${CODE_OPTS[@]}"
}


codeMenyGo(){
  code /home/logic/_workspace/LynkedKK/meny-go/meny-light-demo "${CODE_OPTS[@]}"
}

goMenyTicket(){
  $DEFAULT_BROWSER  https://lynked.atlassian.net/browse/$1 "${BROWSER_OPTS[@]}" &
}

goMenyQuotation(){
  open /home/logic/_workspace/louislabs/quotations/lynked-quote &
}
