#!/usr/bin/env bash

# set -x

export MENY_WK_DIR='~/_workspace/LynkedKK/lynked-demo-tryout/meny-light-demo'

alias goLynkedTodo='googleChrome https://hackmd.io/eE8aAV3sRJyr3OULNoeVKw'

alias codeMenyTest='startCode ~/_workspace/LynkedKK/lynked-demo-test-script-tryout'
alias codeMenyDbFiles='startCode ~/_workspace/LynkedKK/db_backup'
alias codeMenyDbBackup='startCode ~/_workspace/LynkedKK/db_backup'
alias codeMenyManage='startCode -n $MENY_WK_DIR/meny-manage'
alias codeMenyAdmin='startCode -n $MENY_WK_DIR/meny-admin'
alias codeMenyClient='startCode -n $MENY_WK_DIR/meny-client'
alias codeMenyFirebase='startCode -n $MENY_WK_DIR/firebase'
alias codeMenyGo='startCode -n ~/_workspace/LynkedKK/meny-go/meny-light-demo'

meldMenySrc(){
  meld \
    /home/logic/_del/lynked-demo-tryout/meny-light-demo \
    /home/logic/_workspace/LynkedKK/lynked-demo-tryout/meny-light-demo
}

codeMenySrc(){
  set -ex
  startCode -n $MENY_WK_DIR/meny-admin  &
  startCode -n $MENY_WK_DIR/meny-client  &
  startCode -n $MENY_WK_DIR/meny-manage  &
  startCode -n $MENY_WK_DIR/firebase  &
}

goMenyTicket(){
  googleChrome  https://lynked.atlassian.net/browse/$1 "${BROWSER_OPTS[@]}" &
}

goMenyQuotation(){
  open /home/logic/_workspace/louislabs/quotations/lynked-quote &
}
