#!/usr/bin/env bash


export FONTCONFIG_PATH=/etc/fonts

# autoenv
export AUTOENV_ASSUME_YES=1
source ~/.autoenv/activate.sh

export JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
export PATH=${JAVA_HOME}/bin:$PATH

export ANDROID_HOME=/home/logic/Android/Sdk
export PATH=${ANDROID_HOME}:$PATH

export ANDROID_SDK_ROOT=/home/logic/android-sdk-root
export PATH=${ANDROID_SDK_ROOT}:$PATH

export PYTHONDONTWRITEBYTECODE=1

export PATH=$PATH:$ANDROID_SDK_ROOT/platform-tools
