#!/usr/bin/env bash

# https://github.com/adammhaile/USBPiFi/blob/master/install.sh

getRaspiWifi(){
  # download and write raspbian image
  # usage: getRaspiWifi /dev/sdb

  set -x

  BAR=($@)
  sudo umount $@{1,2,3,4,5,6,7,8,9}

  testFlashRedBackground "will write to device $@, wait 10 second to start"
  sleep 10

  testFlashRedBackground "start"

  mkdir -p $HOME/_workspace/tmp

  if [[ ${#BAR} -eq 1 ]]; then

    cd $HOME/_workspace/tmp

      # download img file
      testFlashBlueBackground "download img file"

      wget -O RaspiWiFi.v2.0.Stretch.Lite.7z https://github.com/jasbur/RaspiWiFi/releases/download/v2.0/RaspiWiFi.v2.0.Stretch.Lite.7z
      # ariaDownload -d $HOME/_workspace/tmp https://github.com/jasbur/RaspiWiFi/releases/download/v2.0/RaspiWiFi.v2.0.Stretch.Lite.7z

      # unzip downloaded archive
      testFlashBlueBackground "unzip 7z file -> img"

      7z e RaspiWiFi.v2.0.Stretch.Lite.7z

      # extract to sdcard
      testFlashBlueBackground "extract to sdcard"

      sudo dd if=./RaspiWiFi.v2.0.Stretch.Lite.img of=${BAR[1]} bs=100M

      rm -rf RaspiWiFi.v2.0.Stretch.Lite.7z RaspiWiFi.v2.0.Stretch.Lite.img

      testFlashRedBackground "syncing..."
      sync

    cd -

  fi



  sudo umount $@{1,2,3,4,5,6,7,8,9}

  sudo mkdir -p /tmp/raspiwifi/root

  sudo mount $@1 /tmp/raspiwifi/root

  sudo touch /tmp/raspiwifi/root/ssh

  cd /tmp

  sudo umount $@{1,2,3,4,5,6,7,8,9}

  set -ex

  sendSlackMsg '#general' 'getRaspiWifi' 'write image done 👌👌👌'

  echo "go to http://10.0.0.1 and setup wifi... "

  set +x
}

getRaspbianImage(){
  # getRaspbianImage /dev/sdb

  # download and write raspbian image

  set -x
  BAR=($@)


  if [[ ${#BAR} -eq 1 ]]; then

    cd /tmp

      # download img file
      echo "download img file"
      wget -O rpi.img.zip https://downloads.raspberrypi.org/raspios_lite_armhf_latest

      # unzip downloaded archive
      echo "unzip zip file -> img"
      unzip rpi.img.zip

      RPI_IMG=$(ls -1 *.img)

      # extract to sdcard
      echo "extract to sdcard"
      sudo dd if=./${RPI_IMG} of=${BAR[1]} bs=100M

      rm -rf rpi.img.zip ./${RPI_IMG}

      sync

    cd -

  fi

  set +x
}

setupRaspiWifi(){
  set -x

  sudo apt-get install -y curl wget vim openssh-server httpie tree
  sudo apt-get install -y p7zip-full

  sudo apt-get install -y traceroute
  sudo apt-get install -y entr
  sudo apt-get install -y fabric
  sudo pip install --user magic-wormhole

  installGit
  installZsh
  installTmux
  installTmate
  installTmateWrapper

  sudo pip install docker-compose

  set +x
}

setupRaspiConfig(){
  sudo raspi-config nonint $@
  sudo timedatectl set-timezone Asia/Hong_Kong
}

setupRaspiDocker(){
  # https://phoenixnap.com/kb/docker-on-raspberry-pi

  set -x

  cd /tmp
    curl -fsSL https://get.docker.com -o get-docker.sh
    sudo sh get-docker.sh

    sudo usermod -aG docker pi

    docker version

    docker info

    docker run hello-world
  cd -

  set +x
}

helloworldRaspi(){
  testFlashRedBackground "helloworld from .raspi.rc"
}

syncCredentials(){
  rsync -avzh /home/logic/.credentials.rc pi@rpi1.local:/home/pi/.credentials.rc
}