
https://www.youtube.com/watch?v=8e-7a5edS7c&t=452s
I Miss You Babe (Yes, I Do) vocal by Sandra Hohn

https://www.youtube.com/watch?v=dJMJ-keBDjc&list=PL8DS_G5PRB2Vd8LtP-hzT-B2WNgLe6-JZ&index=11
Gundam Thunderbolt OST 11 - The Dreaming Girl In Me / Sakamoto Yoshie (Ending Episode 2)
