#!/usr/bin/env bash

sshServer(){
  ssh logic@192.168.88.61
}

sshXps15(){
  ssh logic@192.168.88.31
}

sshTv(){
  ssh u0_a78@192.168.88.18 -p 8022
}

sshHome(){
  ssh logic@$HOME_IP -p $HOME_SSH_PORT
}

sshHardConnect(){
  while true; do
    ssh $@

    testFlashRedBackground 'will reconnect to '$@
    sleep 5
  done

  testFlashGreenBackground 'bye ... '

}

sshVoron(){
  sshHardConnect pi@voronoctopi.local
}

sshI3mega(){
  sshHardConnect pi@i3mega.local
}

sshRpi1(){
  sshHardConnect pi@$RPI1_HOST
}

sshX201(){
  sshHardConnect logic@192.168.99.98
}