#!/usr/bin/env bash

# set -x

if [[ -e $HOME/.common.rc ]]; then
  source $HOME/.common.rc
fi

travisConditionTests(){
  set -x
  travis-conditions eval "branch = master" --data '{"branch": "master"}'
  travis-conditions eval "branch = develop" --data '{"branch": "develop"}'
  travis-conditions eval "branch =~ /test\/\.*/" --data '{"branch": "test/123"}'
  travis-conditions eval "NOT branch =~ /test\/\.*/" --data '{"branch": "tes1t/123"}'
  travis-conditions eval "NOT branch =~ /cron\/1/ OR branch =~ /cron\/2/" --data '{"branch": "cron/1"}'
  travis-conditions eval "NOT branch =~ /routine\/.*/" --data '{"branch": "master"}'
  travis-conditions eval "NOT branch =~ /routine\/.*/" --data '{"branch": "routine/1"}'
  travis-conditions eval "NOT branch =~ /cron\/1/ OR branch =~ /cron\/2/" --data '{"branch": "master"}'
}

travisHistory(){
  travis history --com
}

travisSync(){
  travis sync --com &
}

travisOpen(){
  travis open --com &
}

travisRequests(){
  firefox https://travis-ci.com/github/louiscklaw/company-background-search/requests &
}

travisLogin(){
  travis login --com --github-token $GITHUB_TRAVIS_TOKEN
}

installTravis(){
  sudo apt-get install -y ruby ruby-dev
  sudo gem install travis
  sudo gem install travis-conditions

  travis endpoint --com --set-default

}

alias genTravisToken=/home/logic/_workspace/travis-playlist/gen_travis_token/.gen_travis_token.py
# genTravisToken(){
#   TARGET_DIR=$PWD
#   cd $HOME/_workspace/travis-playlist/gen_travis_token
#     pipenv sync
#     pipenv run python3 gen_travis_token.py $TARGET_DIR
#   cd -
# }

alias getTravisHelloworld=/home/logic/_workspace/travis-playlist/scripts/get_travis_helloworld.sh
alias getTravisMerger=/home/logic/_workspace/travis-playlist/travis-build-merger/get_merge_yml.sh

if [[ -e $HOME/_workspace/travis-playlist/travis-yml-template/scripts.rc ]]; then
  source $HOME/_workspace/travis-playlist/travis-yml-template/scripts.rc
fi
